.main {
  min-height: 100vh;
  padding-bottom: 40px;
  width: 100%;
  background-color: #141414;
}
.paddingLeft{
  margin-top: 10px;
  padding-left:  2%;
}
.paddingLeft h4{
  color: white;
  margin-left: 20px;
}
.paddingLeft h4:not(:first-child) {
  margin-top: 20px;
}
