.mainBanner{
    width: 100%;
}
.bannerTop {
    position: relative;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 99% 100%;
    background-position: center;
}
.info{
    position: absolute;
    bottom: 200px;
    left: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 900;
    opacity: 1;
}
.flex{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.boxTopNota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: red;
}
.boxTopNota p{
    font-weight: bold;  
}
@media (max-width:850px){
    .boxTopNota{
        width: 40px;
        height: 40px;
        background-color: red;
    }
    .bannerTop{
        height: 580px;
    }
    .info{
        bottom: 110px;
        width: 250px;
    }
}
@media (max-width:750px){
    .bannerTop{
        height: 530px;
    }

}
@media (max-width:500px){
    .bannerTop{
        height: 530px;
    }
}
@media (max-width:450px){
    .bannerTop{
        height: 450px;
    }
    .info{
        bottom: 90px;
        width: 200px;
    }
    .info h2{
        font-size: 15px;
    }
    .info h4{
        font-size: 13px;
    }
}